In [1]:
# Imports
import pandas as pd
import numpy as np

In [63]:
# Initial set up and formatting of table. Retyping data for calculations.
ncaa = pd.read_csv("2019_season.csv")
ncaa = ncaa.drop([0])
ncaa = ncaa.drop(["Unnamed: 8","Unnamed: 11","Unnamed: 14","Unnamed: 17","Unnamed: 20"], axis=1)
ncaa.columns = ["Rank","School","Games","Wins","Losses","W/L%","SRS","SOS",
                "Conf. Wins","Conf. Losses","Home Wins","Home Losses","Away Wins","Away Losses",
               "Team Points","Opp. Points","Minutes","FG","FGA","FG%","3P","3PA","3P%",
               "FT","FTA","FT%","ORB","TRB","AST","STL","BLK","TOV","PF"]

# Sets display to show all columns and rows.
pd.set_option("display.max_rows", None, "display.max_columns", None)
ncaa = ncaa.astype({'Rank': 'int64', 'School':'string', 'Games':'int64', "Wins":"int64",
                   "Losses":"int64", "W/L%":"float64","SRS":"float64","SOS":"float64",
                    "Conf. Wins":"int64","Conf. Losses":"int64","Home Wins":"int64",
                    "Home Losses":"int64","Away Wins":"int64","Away Losses":"int64",
                    "Team Points":"int64","Opp. Points":"int64","Minutes":"int64",
                    "FG":"int64","FGA":"int64","FG%":"float64","3P":"int64","3PA":"int64",
                    "3P%":"float64","FT":"int64","FTA":"int64","FT%":"float64","ORB":"int64",
                    "TRB":"int64","AST":"int64","STL":"int64","BLK":"int64","TOV":"int64","PF":"int64"})
ncaa.dtypes
ncaa.head()

,Rank,School,Games,Wins,Losses,W/L%,SRS,SOS,Conf. Wins,Conf. Losses,Home Wins,Home Losses,Away Wins,Away Losses,Team Points,Opp. Points,Minutes,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF
1,1,Abilene Christian NCAA,34,27,7,0.794,-1.91,-7.34,14,4,13,2,10,4,2502,2161,1370,897,1911,0.469,251,660,0.380,457,642,0.712,325,1110,525,297,93,407,635
2,2,Air Force,32,14,18,0.438,-4.28,0.24,8,10,9,6,3,9,2179,2294,1300,802,1776,0.452,234,711,0.329,341,503,0.678,253,1077,434,154,57,423,543
3,3,Akron,33,17,16,0.515,4.86,1.09,8,10,14,3,1,10,2271,2107,1325,797,1948,0.409,297,929,0.320,380,539,0.705,312,1204,399,185,106,388,569
4,4,Alabama A&M,32,5,27,0.156,-19.23,-8.38,4,14,4,7,0,18,1938,2285,1295,736,1809,0.407,182,578,0.315,284,453,0.627,314,1032,385,234,50,487,587
5,5,Alabama-Birmingham,35,20,15,0.571,0.36,-1.52,10,8,11,5,6,6,2470,2370,1410,906,2003,0.452,234,694,0.337,424,630,0.673,367,1279,401,218,82,399,578